.Main{
  padding: 0px 60px 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:600px) {
  .Main{
    padding: 0;
  }
}

.Login{
  width: 100%;
  padding: 0px 60px 0px 60px;
}

@media screen and (min-width:300px) and (max-width:1700px) {
  .Login{
    padding: 0;
  }
}

.Search_Page{
  width: 100%;
  padding: 0px 60px 0px 60px;
}

@media screen and (min-width:300px) and (max-width:1440px) {
  .Search_Page{
    padding: 0;
  }
}

.Result{
  padding: 0px 60px 0px 60px;
}

@media screen and (min-width:300px) and (max-width:1440px) {
  .Result{
    padding: 0;
  }
}