.SliderBody{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    overflow: hidden;
}

@media screen and (max-width:600px) {
    .SliderBody{
        margin-top: 32px;
    }
}

.ItemBlock{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 400px;
    height: 225px;
    top: 970px;
    left: 94px;
    box-shadow: 0px 0px 20px 0px #00000033;
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    .ItemBlock{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 298px;
        height: 188px;
        box-shadow: 0px 0px 20px 0px #00000033;
        border-radius: 10px;
    }
}

.sliderButton_left{
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.sliderButton_left:hover{
    transform: scale(0.9);
}

.sliderButton_right{
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.sliderButton_right:hover{
    transform: scale(0.9);
}

.ItemBlock p{
    margin-left: 20px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;

}

.ItemBlock img{
    margin-left: 20px;
}


/* Slider */
.slick-slider
{
    position: relative;

    display: flex;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: 14px;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}